*{
font-family: 'Noto Sans KR', sans-serif !important;
}

.sm-logo{
width: 70px;
}

.logo{
width: 300px;
}

.custom-title{
margin-bottom: 30px;
}

.wrap{
	width: 550px;
	margin: auto;
	margin-top: 30px;
}

.wide-wrap{
	width: 700px;
	margin: auto;
	margin-top: 30px;
}

.middle-wrap{
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.small-wrap{
	width: 330px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

.align-center{
text-align:center;
}

#footer{
margin-top: 30px;
padding: 15px;
}

.right{
display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:flex-end;
}

.bg-home{
height: 100vh;
background-image: url('/static/media/main_image.jpg');
background-size: cover;
}

.main{
position: absolute;
left: 50%;
top: 55%;
transform:translate(-50%, -50%);
}