{% extends "admin/layout.html" %}

{% block js %}
<script>
    $(document).ready(function(){
  		$("#booklist").addClass("active");

        $("#status").val("{{status}}").prop("selected", true);
  	});

  	$(function() {
        $("#status").change(function() {
            window.location.href = "booklist?status=" + this.value;
        });
    });

    function showModal(id, booking_id) {
        $(id).modal('show');
        if (id == '#approveModal') {
            $("#btn-approve").attr("onclick", "approve('" + booking_id + "')");
        } else if (id == '#cancelModal') {
            $("#btn-cancel").attr("onclick", "cancel('" + booking_id + "')");
        }
    }

    function approve(booking_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('admin_api.approve') }}",
            data: {'booking_id': booking_id},
            success: function(response) {
                var answer = response.result;
                if (answer == 'success') {
                    {% if id == None %}
                    window.location.href = "booklist";
                    {% else %}
                    window.location.href = "booklist?id=" + "{{id}}";
                    {% endif %}
                }
            }
        });
    }

    function cancel(booking_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('admin_api.cancel') }}",
            data: {'booking_id': booking_id},
            success: function(response) {
                var answer = response.result;
                if (answer == 'success') {
                    {% if id == None %}
                    window.location.href = "booklist";
                    {% else %}
                    window.location.href = "booklist?id=" + "{{id}}";
                    {% endif %}
                }
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<!-- Modal1 -->
<div class="modal" id="approveModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">예약승인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>예약을 승인하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-approve">승인하기</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal" id="cancelModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">예약취소</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>예약을 취소하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-cancel">취소하기</button>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="wrap">
    <h3 class="custom-title">최근 예약 신청내역</h3>
    {% if not id %}
    <div class="form-group">
        <select class="form-control" id="status">
            <option value=3>전체</option>
            <option value=0>예약신청중</option>
            <option value=1>예약승인</option>
            <option value=2>예약취소</option>
        </select>
    </div>
    {% endif %}

    {% for booking in bookings %}
    <div class="card mb-3
    {% if booking.status_str == '예약승인' %} border-primary
    {% elif booking.status_str == '예약신청중' %} text-white bg-primary
    {% else %} bg-light {% endif %}">
        <div class="card-header">{{ booking.status_str }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-7" onclick="window.location.href = 'datebook?date=' + '{{booking.date|datetime('%Y-%m-%d')}}';">
                    <h5 class="card-title">{{ booking.date|datetime() }}</h5>
                    <p class="card-text">시간 {{ booking.time }} | 인원 {{ booking.count }}명<br>
                        {{ booking.name }} {{ booking.phone }}</p>
                </div>
                <div class="col-5 right">
                    {% if booking.status_str == '예약승인' or booking.status_str == '예약신청중' %}
                    <form>
                        {% if booking.status_str == '예약신청중' %}
                        <button type="button" class="btn btn-secondary" onclick="showModal('#approveModal', '{{ booking._id }}')">승인</button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" onclick="showModal('#cancelModal', '{{ booking._id }}')">취소</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}