{% extends "user/layout.html" %}

{% block js %}
<script>
    $(document).ready(function(){
  		$("#reservation").addClass("active");
  	});

    function click_book() {
        var pattern = /^01[0-9]-\d{3,4}-\d{4}$/;

        var date = $("#book-date").val()
        var time = $("#book-time").val()
        var count = $("#book-count").val()
        var name = $("#book-name").val()
        var phone = $("#book-phone").val()

  		if (date == "-- 일자를 선택하세요 --") {
  			alert("예약일자를 선택하세요.");
  			$("#book-date").focus();
  		}
  		else if (time == "-- 시간을 선택하세요 --") {
  			alert("예약시간을 선택하세요.");
  			$("#book-time").focus();
  		}
      else if (count == "-- 인원을 선택하세요 --") {
        alert("인원을 선택하세요.");
        $("#book-count").focus();
      }
  		else if (name == "") {
  			alert("예약자명을 입력하세요.");
  			$("#book-name").focus();
  		}
  		else if (phone == "") {
  			alert("연락처를 입력하세요.");
  			$("#book-phone").focus();
  		}
  		else if (phone.match(pattern) == null) {
  			alert("연락처를 형식에 맞게 입력해주세요.");
  			$("#book-phone").focus();
  		}
  		else {
            $.ajax({
                type: "POST",
                url: "/makebook",
                data: { date: date,
                        time: time,
                        count: count,
                        name: name,
                        phone: phone},
                success: function(response){
                    var answer = response.result;
                    if (answer == 'success') {
                        $("#book-form").load(window.location.href + " #book-form");
                        $('.modal').modal('show');
                    }
                }
            })
  		}
  	}

  	function gotoChk() {
  	    window.location.href = "{{ url_for('user_api.chkguest') }}";
  	}
</script>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">예약완료</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>예약이 완료되었습니다.<br>예약승인시 확인문자가 발송됩니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="gotoChk()">예약확인 페이지로</button>
            </div>
        </div>
    </div>
</div>

<div class="wrap" id="book-form">
    <h3 class="custom-title">예약하기</h3>
    <div class="form-group">
        <label for="book-date">예약일자</label>
        <select class="form-control" id="book-date">
            <option selected>-- 일자를 선택하세요 --</option>
            {% for d in dates %}
            <option value="{{ d.date|datetime('%Y-%m-%d') }}">{{ d.date|datetime() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="book-time">예약시간</label>
        <select class="form-control" id="book-time">
            <option selected>-- 시간을 선택하세요 --</option>
            {% for t in times %}
            <option value="{{ t.time }}">{{ t.time }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="book-count">인원수</label>
        <select class="form-control" id="book-count">
            <option selected>-- 인원을 선택하세요 --</option>
            <option value=2>2명</option>
            <option value=3>3명</option>
            <option value=4>4명</option>
            <option value=5>5명</option>
            <option value=6>6명</option>
        </select>
    </div>
    <div class="form-group">
        <label for="book-name">예약자명</label>
        <input class="form-control" id="book-name">
    </div>
    <div class="form-group">
        <label for="book-phone">연락처</label>
        <input class="form-control" id="book-phone" placeholder="010-0000-0000">
    </div>
    <hr class="mb-4">
    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="click_book()">예약신청</button>
</div>
{% endblock %}