{% extends "user/layout.html" %}

{% block js %}
<script>
    $(document).ready(function(){
  		$("#reservation").addClass("active");
  	});

    function click_chkbook() {
        window.location.href = "/chkguest";
  	}

</script>
{% endblock %}

{% block content %}
<div class="middle-wrap">
    <h1 class="bernini align-center text-success">Bernini</h1>
    <p class="align-center">예약신청이 완료되었습니다.<br>
        예약내역은 예약확인 페이지에서 확인하실 수 있습니다.</p>

    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="click_chkbook()">예약확인 페이지로</button>
</div>
{% endblock %}