{% extends "user/layout.html" %}

{% block js %}
<script>
    $(document).ready(function(){
  		$("#home").addClass("active");
  	});

    function gotoBook() {
        window.location.href = "{{ url_for('user_api.book') }}";
    }

</script>
{% endblock %}

{% block content %}
<div class="bg-home">
    <div class="main">
        <img src="{{ url_for('static', filename='media/logo.png') }}" class="logo">
        <p class="align-center" style="color: white; margin-top: 15px; opacity: 50%;">이탈리안 컨템포러리 레스토랑</p>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" style="margin-top: 40px;"
        onclick="gotoBook()">예약하기</button>
    </div>
</div>
{% endblock %}